<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset style="height: fit-content; width: fit-content">
    <legend style="color: red"><h1>Edit Product</h1></legend>
    <p>
        <button><a href="/products">Product List</a></button>
    </p>
    <th:block th:if="${message}">
        <p th:text="${message}" style="color: lawngreen"></p>
    </th:block>
    <form th:action="@{/edit-product}" th:object="${product}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Code:</td>
                <td><input type="text" th:field="*{code}"></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="number" th:field="*{price}"></td>
            </tr>
            <tr>
                <td>Amount:</td>
                <td><input type="number" th:field="*{amount}"></td>
            </tr>
            <tr>
                <td>Date Created:</td>
                <td><input type="date" th:field="*{dateCreated}"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" th:field="*{description}"></td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select th:field="*{category}">
                        <option th:each="s : ${categories}" th:value="${s.id}" th:text="${s.name}" style="color: orangered"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update Product" style="color: blue"></td>
            </tr>
        </table>
    </form>
</fieldset>
</body>
</html>